{% extends 'navbar/adminnavbar.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'timetable.css' %}">

<div class="a1">
    <h2 style="text-align:center;">Weekly Time Table</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-dark">
                <th>Day</th>
                <th>9:00 - 10:00</th>
                <th>10:00 - 11:00</th>
                <th>11:00 - 12:00</th>
                <th>12:00 - 1:00</th>
                <th>2:00 - 3:00</th>
                <th>3:00 - 4:00</th>
            </tr>
        </thead>
        
        <tbody>
            <tr class="table-primary">
                <th>Monday</th>
                <td>Maths</td>
                <td>Physics</td>
                <td>DBMS</td>
                <td>Break</td>
                <td>Java</td>
                <td>Lab</td>
            </tr>

            <tr class="table-secondary">
                <th>Tuesday</th>
                <td>Java</td>
                <td>DBMS</td>
                <td>OS</td>
                <td>Break</td>
                <td>Maths</td>
                <td>Sports</td>
            </tr>

            <tr class="table-success">
                <th>Wednesday</th>
                <td>Physics</td>
                <td>Java</td>
                <td>DBMS</td>
                <td>Break</td>
                <td>OS</td>
                <td>Library</td>
            </tr>

            <tr class="table-danger">
                <th>Thursday</th>
                <td>Maths</td>
                <td>Physics</td>
                <td>Java</td>
                <td>Break</td>
                <td>DBMS</td>
                <td>Lab</td>
            </tr>

            <tr class="table-warning">
                <th>Friday</th>
                <td>OS</td>
                <td>Maths</td>
                <td>DBMS</td>
                <td>Break</td>
                <td>Java</td>
                <td>Seminar</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}